body {
    background: #9da860;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    width: 400px;
    border: 3px solid gray;
    padding: 20px;
    background: #553636;
    border-radius: 20px;
}

input, button {
    width: 95%;
    padding: 10px;
    margin: 10px auto;
}

button {
    background: teal;
    color: white;
    border: none;
    border-radius: 5px;
}

.error {
    background: #F2DEDE;
    padding: 10px;
    color: #000;
    border-radius: 5px;
}
